@media only screen and (max-width: 667px) {

    body {
        background-color: #F0EAD2;
        margin: auto;
    }

    /* fonts */

    p, ul, i {
        font-family: "Alumni Sans", serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-size: 1.5em;
    }

    h1 {
        display: none;
        font-family: 'Regint';
    }

    a {
        font-family: "Inknut Antiqua", serif;
        font-weight: 900;
        font-style: normal;
    }

    h2 {
        font-family: "Hepta Slab", serif;
        font-optical-sizing: auto;
        font-weight: 900;
        font-style: normal;
        text-align: center;
        font-size: 26px;
    }

    h3 {
        font-family: "Indie Flower", serif;
        font-size: 18px;
        font-weight: 600;
        font-style: normal;
    }

    /* General Stuff */
    /* Dividers */
    .brownDivider, .greenDivider {
        margin-top: 1em;
    }

    /* Img Borders */
    
    #imgBorder {
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-self: center;
    }

    /* Navigation Styling (synonymous with all websites) */
    /* Fix nav margins */

    nav {
        background-color: #F0EAD2;
        position: relative;
        margin-top: 1em;
        margin-inline: 1em;
    }

    #vine {
        margin-top: 16px;
    }
      
    nav #myLinks {
        display: none;
        margin-top: 10px;
    }
    
    nav a {
        color: black;
        text-decoration: none;
        padding-inline: 1em;
        padding-block: 0.3em;
        font-size: 1em;
        display: block;
        text-align: center;
    }
    
    .links {
        color: #BDC5A4;
        background-color: #6C584C;
        border: solid 2px #BDC5A4;
        margin-top: 2px;
    }
    
    nav a.icon {
        background: #BDC5A4;
        border: solid 2px #6C584C;
        border-radius: 9px;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }
    
    nav a:hover {
        background-color: #BDC5A4;
        color: black;
    }
    
    .active {
        background-color: #04AA6D;
        color: white;
    }

    /* Page Headers need to be done differently ngl */
    /* We need h1 */
    /* This is temporary */

    #welkomHeader, #missieHeader, #aanbodHeader, #tuinHeader {
        margin-top: 16px;
        display: flex;
        justify-self: center;
    }

    /* Index.html */

    #greenSocietyDiv {
        display: flex;
        justify-content: center;
        padding: 1em;
        margin-top: 16px;
        margin-inline: 1.2em;
        border-radius: 9px;
        background-color: #6C584C;
        border: solid 5px #8C9E53;
    }

    #brownDividerMiddle {
        background-color: #6C584C;
        margin-top: 16px;
        padding: 1.2em;
        margin-inline: 1.2em;
        border-radius: 9px;
    }

    #introText {
        text-align: center;
        margin-inline: 1.2em;
    }

    /* Index page cards */
    #pageCards {
        margin-top: 16px;
        display: flex;
        gap: 10px;
        margin-inline: 1.2em;
        justify-self: center;
        align-items: center;
        flex-direction: column;
    }

    /* Missie.html */

    .missieParagraphs {
        margin-inline: 1.4em;        
    }

    #missiePic {
        margin-top: 1em;
        display: flex;
        justify-content: center;
    }

    #missiePic > img:first-of-type {
        position: absolute;
        margin-top: 16px;
    }
    
    #missieTestimony {
        display: flex;
        margin-top: 1em;
        margin-inline: 2em;
        gap: 16px;
    }

    #missieTestimony > img:first-of-type {
        position: absolute;
        margin-left: 16px;
        margin-top: 16px;
    }
    
    /* Aanbod.html */

    .aanbodParagraphs {
        margin-inline: 1.4em;        
    }

    #aanbodPic {
        margin-top: 1em;
        display: flex;
        justify-content: center;
    }

    #aanbodPic > img:first-of-type {
        position: absolute;
        margin-top: 16px;
    }

    #aanbodIntro {
        margin-inline: 1.4em;        
    }

    #aanbodBieden {
        margin-inline: 1.4em;
    }

    #aanbodTestimony {
        display: flex;
        margin-top: 1em;
        margin-inline: 2em;
        gap: 32px;
        text-align: right;
    }

    #aanbodTestimony > img:first-of-type {
        position: absolute;
        margin-left: 188px;
        margin-top: 16px;
    }
    

    /* Tuin.html */
    #tuinIntro {
        margin-inline: 1.2em;
        text-align: center;
    }

    #tuinHuisregels {
        /* temporary */
        margin-inline: 1.2em;
    }

    #huisregelsPic {
        margin-top: 1em;
        display: flex;
        justify-content: center;
    }

    #huisregelsPic > img:first-of-type {
        position: absolute;
        margin-top: 30px;
    }


    /* fix footer */
    #footerImg {
        margin-top: 1em;
        display: flex;
        width: 100%;
        justify-self: center;
        background-size: cover;
        background-clip: content-box;
    }


}